<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681194569716-5ae80phb26mvds47ikgmk53u3b5mg41f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681194569716-5ae80phb26mvds47ikgmk53u3b5mg41f</string>
	<key>API_KEY</key>
	<string>AIzaSyBsJ4CrP3ATbqnG5nRsOn3gwjZ7sDjFiyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>681194569716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thinhth.dfohometest.ios</string>
	<key>PROJECT_ID</key>
	<string>dfo-hometest</string>
	<key>STORAGE_BUCKET</key>
	<string>dfo-hometest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681194569716:ios:2cd4110fb7c37187c643a1</string>
</dict>
</plist>